<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LoveChat</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>User Id</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <script>
        fetch('/api/users')
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            var users = data.map(d => d.userId).filter((value, index, self) => self.indexOf(value) === index);
            var message = [];

            console.log(JSON.stringify(users));
        });
    </script>
</body>
</html>