<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LoveChat</title>
</head>
<body>
    <div id="output">

    </div>

    <script>
        var outputHTML = document.getElementById("output");
        fetch('/api/users')
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            var users = data.map(d => d.userId).filter((value, index, self) => self.indexOf(value) === index);
            
            for(let i = 0; i < data.length; i++) {
                outputHTML.innerHTML += `<h1>${data.userId}</h1>
                                        <p>${data.text}</p>`;
            }


        });
    </script>
</body>
</html>