<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LoveChat</title>
</head>
<body>
    <div id="output">

    </div>

    <script>
        var outputHTML = document.getElementById("output");
        fetch('/api/users')
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            var users = data.map(d => d.userId).filter((value, index, self) => self.indexOf(value) === index);
            var messages = [];
            for(let i = 0; i < users.length; i++) {
                messages.users[i] = data.map(d => {
                    if (d.userId == users[i]) {
                        return d.text;
                    }
                });
            }
            for(let i = 0; i < data.length; i++) {
                outputHTML.innerHTML += `<h1>${data.userId}</h1>
                                        <p>${data.text}</p>`;
            }

            console.log(JSON.stringify(users));
            console.log(JSON.stringify(messages));

        });
    </script>
</body>
</html>